#page1 {
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;
  }
  
  #page1 .nemesis {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: 'futura';
    line-height: 14vw;
    letter-spacing: -8px;
    padding-bottom: 50px;
  }
  

.nemesis {
    display: inline-block;
    position: relative;
    animation: moveUp 1s forwards;
    opacity: 0;
    transform: translateY(100%);
    animation-fill-mode: forwards;
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.nemesis:nth-child(1) {
    animation-delay: 0.1s;
 
}

.nemesis:nth-child(2) {
    animation-delay: 0.3s;
}

.nemesis:nth-child(3) {
    animation-delay: 0.5s;
}

.nemesis:nth-child(4) {
    animation-delay: 0.7s;
}

.nemesis:nth-child(5) {
    animation-delay: 0.9s;
   
}

.nemesis:nth-child(6) {
    animation-delay: 1.1s;
}

.nemesis:nth-child(7) {
    animation-delay: 1.3s;
}




  
  

  
  
 /* .........................................login  */
.si{
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  /* min-height: 800px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  position: fixed;
  z-index: 2;
}



.notification-modal {
  top: 8%;
  /* position: fixed; */
  right: 32px;
  z-index: 10;
  position: absolute;
}




.notification {
  width: 384px;
  height: 546px;
  display: flex;
  flex-direction: column;
  background: var(--clr-greyWhite);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  
}

.notification-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #5B36C6;
  height: 50px;
  min-width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.notification-content {
  color: #FFFFFF;
  font-style: normal;
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  
}

.notification-section {
  min-width: 100%;
  height: 100px;
 
  padding: 0px 12px 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #E5E7EB;

}

.man-logo {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.man-logo img {
  width: 100%;
  object-fit: contain;
  height: 44px;
  border-radius: 50%;
}

.message-section {
  display: flex;
  flex-direction: column;
  height: 73px;
  width: 304px;
  gap: 8px;
  padding-left: 12px;
}

.message-section-content {
  display: flex;
  flex-direction: column;
  height: 44px;
  width: 304px;
}

.section-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #788898;
  
}

.subject-name {
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  
}

.message-section-content-2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 304px;
  height: 21px;
  padding: 20px 0px;
}

.section-content-2 {
  color: #5B36C6;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

.section-btn {
  height: 21px;
  width: 39px;
  padding: 4px 0 0 0;
  background: #5B36C6;
  border-radius: 35px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 130%;
  cursor: pointer;
}

.section-btn-material {
  height: 21px;
  width: 58px;
  padding: 4px 0 0 0;
  background: #5B36C6;
  border-radius: 35px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 130%;
  cursor: pointer;
}

.section-btn-maintenance{
  height: 21px;
  width: 81px;
  padding: 4px 0 0 0;
  background: #5B36C6;
  border-radius: 35px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 130%;
  cursor: pointer;
}

.section-btn-grades{
  height: 21px;
  width: 52px;
  padding: 4px 0 0 0;
  background: #5B36C6;
  border-radius: 35px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 130%;
  cursor: pointer;
}


.view-all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 34px;
  background: #5B36C6;
  border-radius: 0px 0px 8px 8px;
  padding: 8px 12px;
  gap: 8px;
  cursor: pointer;
}

.view-all-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FBFBFB;

}

.card-2 {
  width: 100%;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: black;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  transition: filter 0.3s ease-out;
}



.card-2 img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.card-2.card-2 h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;

  z-index: 1; /* Ensure the text is above the blurred background */
}

.card-2.card-2 p,
.card-2.card-2 a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
  z-index: 1; /* Ensure the text is above the blurred background */
}

.card-2 p {
  inset: auto auto 80px 30px;
}

.card-2 a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}

.card-2:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
  /* background-color: black; */

}

.card-2:hover p,
.card-2:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card-2:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
filter: blur(3px);
}

.material-symbols-outlined {
  vertical-align: middle;
}


.posted-fetch{
display: flex;
flex-direction: column;
margin-top: 12px;
width: 100%;
min-height: 500px;
background: rgba(19, 19, 19, 0.6);
backdrop-filter: blur(2px);
inset: 0;
z-index: 2;
border-radius: 20px;
}

.fetched-image{
width: 100%;
}
.fetched-image img{
width: 100%;
height: 500px;
object-fit: contain;
padding-left: 20px;

}
.fetched-data{
width: 100%;
display: flex;
flex-direction: column;
gap: 20px;
align-items:flex-end;
padding-right: 20px;
justify-content: center;
}

.posted-fetch:hover {
transform: translateY(-5px);transition: 0.25s ease;
}