#page1 {
    position: relative;
    width: 100%;
    padding: 0 1vw;
    /* padding-top: 20vh; */
  }
  
  #page1 .nemesis {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: 'futura';
    line-height: 14vw;
    letter-spacing: -8px;
    padding-bottom: 50px;
  }
  

.nemesis {
    display: inline-block;
    position: relative;
    animation: moveUp 1s forwards;
    opacity: 0;
    transform: translateY(100%);
    animation-fill-mode: forwards;
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.nemesis:nth-child(1) {
    animation-delay: 0.1s;
 
}

.nemesis:nth-child(2) {
    animation-delay: 0.3s;
}

.nemesis:nth-child(3) {
    animation-delay: 0.5s;
}

.nemesis:nth-child(4) {
    animation-delay: 0.7s;
}

.nemesis:nth-child(5) {
    animation-delay: 0.9s;
   
}

.nemesis:nth-child(6) {
    animation-delay: 1.1s;
}

.nemesis:nth-child(7) {
    animation-delay: 1.3s;
}

 
  
 /* .........................................login  */
.si{
  background: rgba(28, 27, 27, 0.6);
  backdrop-filter: blur(10px);
  min-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  position: fixed;
  z-index: 2222;
  
}



.notification-modal {
  top: 8%;
  /* position: fixed; */
  right: 32px;
  z-index: 10;
  position: absolute;
  
}




.notification {
  width: 384px;
  /* height: 546px; */
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
 

}


.view-all {
  display: flex;
  width: 100%;
  height: 34px;
  background: black;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}
.submit-btn {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  width: 100%;
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: center;
}
.close-btn:hover{
color: black;
background-color: white;
border-radius: 8px;
}
.submit-btn:hover{
  color: green;
background-color: white;
border-radius: 8px;
}

.card-2 {
  width: 100%;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: black;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  transition: filter 0.3s ease-out;
}



.card-2 img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.card-2.card-2 span {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  text-transform: uppercase;
  z-index: 22; 
  display: flex;

   
  flex-direction: column;
  gap: 10px;
}

.card-2.card-2 p,
.card-2.card-2 a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
  z-index: 1; 
}

.card-2 p {
  inset: auto auto 80px 30px;
}

.card-2 a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}

.card-2:hover span {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
  

}

.card-2:hover p,
.card-2:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card-2:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
  filter: blur(10px);
}

.card-2 span input{
  height: 27px;
  border-radius: 8px;
  height: 30px;
  padding: 10px;
}

.card-2 p input{
  height: 27px;
  border-radius: 8px;
  height: 30px;
  padding: 10px;
  color: white;
  align-items: center;
}
