* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
  }
  
  *::selection {
    color: #fff;
    background-color: #000;
  }
  
  #nav {
    width: 100%;
    position: fixed;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
  }
  
  #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  #links {
    padding: 10px;
  }
  
  #nav-part1 {
    height: 80px;
    overflow: hidden;
    font-size: 30px !important;
  }
  
  #nav-part2 #links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    margin: 0 20px;
  }


  .logo-icon img{
    width: 100%;
    height: 50px;
    padding: 10px;
    
  }